.AppStyle {
  display: flex;
  flex-direction: row;
  gap: 80px;
  min-width: 320px;
  min-height: calc(100vh - 32px);
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #000f3a;
  justify-content: center;
  align-content: center;
  padding: 64px;

  @media screen and (max-width: 960px)  {
    flex-direction: column;
    gap: 40px;
  }
}